*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* CSS Reset rules above */

@font-face {
  font-family: titan-one;
  src: url(./fonts/titan-one.ttf);
}

:root {
  --body-background-color: #181930;
  --gameboard-background-color: #bcbfff;
  --main-text-color: #7e75e5;
  --sub-text-color: #ffffff;
  --player-one-token-color: #ff914d;
  --player-two-token-color: #77bb5a;
}

body {
  background-color: var(--body-background-color);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.board {
  display: grid;
  width: clamp(240px, 50vw, 500px);
  height: clamp(240px, 50vw, 500px);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 5px;
  gap: 2.5px;
  background-color: var(--gameboard-background-color);
}